.locationTbl {
  min-width: unset;
}

.locationTbl {
  background: rgba(255, 255, 255, 0.7);
}

.gps-info {
  width: unset;
  padding: 1em;
  border: unset;
  background-color: unset !important;
  transition: 0.3s ease;
}

.accordion-header {
  display: flex;
  justify-content: center;
}

.leaflet-left {
  display: none;
}

.gps-container {
  padding: 0.5em 0;
}

td.days.has-data {
  background-color: #d6e4f0; /* Change this to the desired background color */
}

.today {
  background-color: green;
}

td.days.clicked-date {
  border: 1px solid #163172;
}

.accordion-item {
  width: unset;
  margin: unset;
}

.accordion-btn.gps-info .rounded-img {
  transition: 0.3s ease;
}

.accordion-btn.gps-info[aria-expanded="false"] .rounded-img {
  height: 50px !important;
  width: 50px !important;
}

.accordion-btn.gps-info[aria-expanded="false"]:hover .rounded-img {
  height: 70px !important;
  width: 70px !important;
}

/* CSS for profile pictures when accordion is expanded */
.accordion-btn.gps-info[aria-expanded="true"] .rounded-img {
  height: 70px !important;
  width: 70px !important;
}

.fake-header p {
  padding: unset;
}

.accordion-body {
  display: flex;
  flex-direction: column;
}

.accordion {
  border: unset;
  background-color: unset !important;
}

.fake-header p {
  display: none;
}

.accordion-item {
  border: unset !important;
  background-color: unset !important;
}
/* .gps-info:hover {
} */

.locationTbl {
  align-items: unset !important;
  /* border-radius: 50px; */
}

.rounded-img {
  height: 60px !important;
  width: 60px !important ;
}

td.unselectable {
  border: unset;
}

td.unselectable:hover {
  border: unset !important;
  cursor: auto;
}

.notification-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: 10px;
  right: 10px;
}

.calendar-container {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 0;
}

.calendar {
  border: 1px solid #dee2e6;
  border-radius: 15px;
  overflow: hidden;
}

.calendar-header {
  background-color: #163172;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.calendar-header .month-year-text {
  display: flex;
  align-self: center;
  color: white;
  margin: 0;
  font-size: 1em;
}

.calendar-body {
  /* padding: 10px; */
  background-color: white;
}

.calendar-table th,
.calendar-table td {
  text-align: center;
}

.calendar-table td {
  width: 50px;
  /* Adjust the width as needed */
  height: 50px;
  /* Adjust the height as needed */
}

.days.current-day {
  background-color: #163172;
  color: white;
  /* or any other color you want to highlight the current date */
}

.days {
  background-color: red;
}

.table {
  margin: unset;
}

.table-bordered {
  border: unset;
}

.table-bordered td,
.table-bordered th {
  border: unset;
  height: unset;
  border: 1px solid white;
}

.table-bordered td:hover {
  border: 1px solid #163172;
  background-color: white;
  border-radius: 2em;
  color: #163172;
}

.table thead th {
  border: 1px solid white;
  border-radius: 50px;
  padding: unset;
  width: 30px;
  height: 30px;
}

.table td {
  border: 1px solid white;
  border-radius: 50px;
  padding: unset;
  width: 35px;
  height: 30px;
}

.table td,
.table th {
  padding: 0.5rem 0.5rem;
}

.cal-btn {
  background-color: unset;
  border: unset;
  color: white;
  margin: 0 0.5em;
}

@media (max-width: 600px) {
  #content {
    padding: 10px 20px;
  }
  #locationTbl {
    display: block !important;
    border: #3d3b40 1px solid;
    outline: #3d3b40 1px solid;
    left: unset !important;
    right: unset !important;
    margin-left: unset !important;
    margin-right: unset !important;
    width: unset !important; /* Need a specific value to work */
    border: unset;
    outline: unset;
    height: unset;
    top: 20px;
    color: #3d3b40;
  }
}
