@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}

.content-container {
  overflow: hidden;
  border: #163172 5px solid;
    border: #163172 5px solid;
  height: 83vh;
}

/* Add this CSS code to your stylesheet */
.modal,
.modal-content,
.modal-header,
.modal-body,
.modal-footer {
  cursor: auto !important;
}

.content {
  display: none; /* Hide all content initially */
}

.active-content {
  display: block; /* Show active content */
}

/* .content-container{
  height: 84vh!important;

} */

/* .modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 60.7%;
  top: 13.2%;
  width: 37.5%;
  overflow: auto;

}

.modal-content {
  background-color: #fff;
  padding: 20px 10px;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 5px;
  height: 81%;
  z-index: 100;
  border: #3D3B40 1px solid;
} */

.col-6 .form-control:disabled, .form-control[readonly]{
  background-color: unset!important;
}

.map-alert .modal-content {
  width: 100%!important;
  border-radius: 10px;
}

.modal-content {
  position: absolute;
  top: 130px;
  right: 50px;
  width: 25%;
  border-radius: 10px;
  height: 70vh;
}

.building-name {
  font-weight: bold;
  text-align: center;
  margin-top: 3em;
  width: 100%;
}

.close {
  color: red;
  float: right;
  cursor: pointer;
  width: fit-content;
  position: absolute;
  top: 10px;
  right: 12.5px;
  font-size: 20px;
  font-weight: 100;
}

.close:hover {
  color: #f00;
}
.status-circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.working {
  background-color: green;
}
.maintenance {
  background-color: yellow;
}
.repair {
  background-color: blue;
}
.replacement {
  background-color: red;
}
.form-control {
  border: none !important;
}
/* .modal-header {
  border-bottom: none;
} */
.center-content {
  display: flex;
  justify-content: center;
}

#sidebar {
  z-index: 1;
}

#model-container {
  z-index: 0;
  height: 100vh;
  width: 100%;
}

.Floor-container {
  width: 1200px;
  height: 550px;
}
.Floor-container-1 {
  width: 1200px;
  height: 550px;
}

.map-nav{
  display: flex;
  justify-content: space-around;
}

.map-legend{
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin: 1em;
}

.map-legend p{
  margin: 0;
}

.legend-color-green{
  padding: .5em;
  background-color: green;
  align-self: center;
  border-radius: 25px;
}

.legend-color-under-maintenance{
  padding: .5em;
  background-color: yellow;
  align-self: center;
  border-radius: 25px;

}

.legend-color-need-repair{
  padding: .5em;
  background-color: blue;
  align-self: center;
  border-radius: 25px;

}

.legend-color-for-replacement{
  padding: .5em;
  background-color: red;
  align-self: center;
  border-radius: 25px;
}

.sample {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
}

.closeFloor{
  position: absolute;
  left: 50px;
  bottom: 40px;
  font-size: 1.5em;
}

.buildings {
  gap: 1em;
  display: flex;
  flex-flow: column wrap;
  margin: .5em;
  justify-content: flex-start;
  align-self: center;
  height: 80vh;
  border: #163172 2px solid;
  background-color: white;
  border-radius: 15px;
  /* width: 90%; */
  padding: .5em;
}
.building {
  /* border: #163172 1px solid; */
  list-style: none;
  padding: 1em 1em;
  background-color: #F1F6FF;
  cursor: pointer;
  font-weight: bold;
  color: #163172;
  border-radius: 15px;
  text-align: center;
}

.nav-tabs .nav-link {
  width: 100%;
  color: #3d3b40;
}

.nav-link{
  text-align: center!important;
}

.nav-tabs .nav-link:hover {
  background-color: #9ed9ff;
}

.nav-container {
  /* border: #3D3B40 2px solid; */
  border-radius: 10px;
  gap: 1em;
  display: flex;
  flex-flow: column wrap;	
  margin: 1em;
  justify-content: flex-start;  
  align-self: center;
  height: 50vh;
}

.nav-container .nav-item{
  list-style: none;
  padding: .5em 1em;
  background-color: #F1F6FF;
  cursor: pointer;
  font-size: 1.75rem;
  font-weight: bold;
  color: #163172;
}

.nav-container .nav-item:hover {
  /* background-color: rgba(214,228,240,0.5);   */
  color: #3D3B40;
}







.nav-tabs {
  display: flex;
  flex-direction: column;
  border-bottom: unset;
}

.nav-tabs h3{
  color:#163172;
}

h3 {
  text-align: center;
  font-weight: bold;
  /* font-size: medium; */
  /* padding: 3em; */
  color: #3d3b40;
  font-size: 1em;
  margin-bottom: unset;
}



@media (max-width: 992px) {
  .content-container {
    overflow: hidden;
    border: #3d518c 0.25em solid;
    outline: #3d3b40 2px solid;
  }
}

@media (max-width: 600px) {
  /* .tab-name {
    padding-bottom: 1em;
} */

  .modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 5%;
    top: 2.5%;
    width: 90%;
    overflow: auto;
  }

  .buildings {
    visibility: visible !important;
    display: flex;
  }

  .content-container {
    overflow: hidden;
    border: unset;
    outline: unset;
  }
  .modal-content {
    top: 2px;
    height: 95%;
    width: 100%;
    right: 0;
  }

  .nav-container .nav-item{
    font-size: 3.5rem;
    padding: .5em .5em;
  }

  .nav-container{
    height: 60vh;
    margin: auto 1em;
  }
}
