@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}

#content {
  top: 100px;
}

.content-container {
  overflow: hidden;
  border: #163172 5px solid;
  border: #163172 5px solid;
  height: 83vh;
}

#description {
  height: 100px;
}

/* Add this CSS code to your stylesheet */
.modal,
.modal-content,
.modal-header,
.modal-body,
.modal-footer {
  cursor: auto !important;
}

.modal-body label.form-label {
  margin: unset;
}

.Upload {
  display: flex;
  align-items: center;
}

.content {
  display: none; /* Hide all content initially */
  background-color: white;
}

.active-content {
  display: block; /* Show active content */
}

/* .content-container{
  height: 84vh!important;

} */

/* .modal {
  display: none;.
  position: fixed;
  z-index: 100;
  left: 60.7%;
  top: 13.2%;
  width: 37.5%;
  overflow: auto;

}

.modal-content {
  background-color: #fff;
  padding: 20px 10px;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 5px;
  height: 81%;
  z-index: 100;
  border: #3D3B40 1px solid;
} */

.hover-asset {
  z-index: 9999;
  position: absolute;
  top: 30px;
  left: 1130px;
  border: 2px solid #3d3b40;
  height: 200px;
  width: 125px;
  border-radius: 15px;
  padding: 15px 5px 5px 5px;
  color: #3d3b40;
  background-color: white;
}
#content
  .modal
  .modal-dialog
  .modal-content
  .modal-body
  .col-6
  .form-control:disabled,
.form-control[readonly] {
  background-color: unset !important;
}

#category-hover {
  background-color: unset !important;
  border: unset !important;
}
#category-hover {
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
}

.profile-container
  .modal-parent
  .modal
  .modal-dialog
  .modal-content
  .modal-body
  .col-6
  .form-control:disabled,
.form-control[readonly] {
  background-color: #d6e4f0 !important;
}

.map-alert .modal-content {
  width: 100% !important;
  border-radius: 10px;
}

/* .row>*{
  display: flex;
} */
.legend-toggle{
  border: none;
  background: none;
}
.map-alert .modal-content .modal-footer {
  height: 30vh !important;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.modal-content {
  position: absolute;
  top: 130px;
  right: 50px;
  width: 25%;
  border-radius: 10px;
  height: 70vh;
}

.building-name {
  font-weight: bold;
  text-align: center;
  margin-top: 3em;
  width: 100%;
}

.close {
  color: red;
  float: right;
  cursor: pointer;
  width: fit-content;
  position: absolute;
  top: 10px;
  right: 12.5px;
  font-size: 20px;
  font-weight: 100;
}

.close:hover {
  color: #f00;
}
.status-circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}
.map-legend {
  display: flex;
  width: max-content;
  /* margin: 0 auto; */
  gap: 1em;
  background-color: white;
  padding: 0 2em;
  border-radius: 25px;
}

.legend-color-green {
  background-color: green;
}
.maintenance {
  background-color: yellow;
}
.repair {
  background-color: blue;
}
.replacement {
  background-color: red;
}

.button-submit-container {
  margin-top: 1em !important;
}
/* .form-control {
  border: none !important;
} */
/* .modal-header {
  border-bottom: none;
} */

.center-content {
  display: flex;
  justify-content: center;
}
.center-content-hover {
  display: flex;
  justify-content: center;
}

.hover-input {
  width: 100%;
  font-size: 10px;
  text-align: start;
  margin: 0 !important;
}

#assetId {
  background-color: unset !important;
  border: unset !important;
  text-align: center;
}

.input-hover {
  text-align: center !important;
}
.input-hover1 {
  text-align: start !important;
  font-size: 9px;
}

.top-side-hover {
  border-bottom: 2px solid #aaaaaa;
  margin-bottom: 5px;
}
.hover-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.room-hover {
  margin: 0 !important;
}

.center-content-hover img {
  height: 50px !important;
  width: 50px !important;
  max-width: unset !important;
  /* border-radius: 50%; */
}

#sidebar {
  z-index: 1;
}

.modal-backdrop.show {
  z-index: 1;
}

#model-container {
  z-index: 0;
  height: 100vh;
  width: 100%;
}

.Floor-container {
  width: 1200px;
  height: 550px;
}
.Floor-container-1 {
  width: 1200px;
  height: 550px;
}

.map-nav {
  display: flex;
  justify-content: space-around;
  width: 1300px;
  background-color: white;
}

.map-legend {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin: 1em;
}

.map-legend p {
  margin: 0;
}

.legend-color-green {
  padding: 0.5em;
  background-color: green;
  align-self: center;
  border-radius: 25px;
}

.legend-color-under-maintenance {
  padding: 0.5em;
  background-color: yellow;
  align-self: center;
  border-radius: 25px;
}

.legend-color-need-repair {
  padding: 0.5em;
  background-color: red;
  align-self: center;
  border-radius: 25px;
}

.legend-color-for-replacement {
  padding: 0.5em;
  background-color: blue;
  align-self: center;
  border-radius: 25px;
}

.sample {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
}

#map-top-nav .closeFloor {
  transition: 0.3s ease;
}

#map-top-nav.hide .closeFloor {
  left: 4em;
}

.closeFloor {
  position: absolute;
  left: 12em;
  top: 3em;
  font-size: 1.5em;
}

.buildings {
  gap: 1em;
  display: flex;
  flex-flow: column wrap;
  margin: 0.5em;
  justify-content: flex-start;
  align-self: center;
  height: 80vh;
  border: #163172 2px solid;
  background-color: white;
  border-radius: 15px;
  /* width: 90%; */
  padding: 0.5em;
}
.building {
  /* border: #163172 1px solid; */
  list-style: none;
  padding: 1em 1em;
  background-color: #f1f6ff;
  cursor: pointer;
  font-weight: bold;
  color: #163172;
  border-radius: 15px;
  text-align: center;
}

.nav-tabs .nav-link {
  width: 100%;
  color: #3d3b40;
}

.nav-link {
  text-align: center !important;
}

.nav-tabs .nav-link:hover {
  background-color: #9ed9ff;
}

.nav-container {
  /* border: #3D3B40 2px solid; */
  border-radius: 10px;
  gap: 1em;
  display: flex;
  flex-flow: column wrap;
  margin: 1em;
  justify-content: flex-start;
  align-self: center;
  height: 50vh;
}

.nav-container .nav-item {
  list-style: none;
  padding: 0.5em 1em;
  background-color: #f1f6ff;
  cursor: pointer;
  font-size: 1.75rem;
  font-weight: bold;
  color: #163172;
}

.nav-container .nav-item:hover {
  /* background-color: rgba(214,228,240,0.5);   */
  color: #3d3b40;
}

.nav-tabs {
  display: flex;
  flex-direction: column;
  border-bottom: unset;
}

.nav-tabs h3 {
  color: #163172;
}
.hover-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
h3 {
  text-align: center;
  font-weight: bold;
  /* font-size: medium; */
  /* padding: 3em; */
  color: #3d3b40;
  font-size: 1em;
  margin-bottom: unset;
}
.NoImage {
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px 0;
}
.TrackingHover {
  margin: 0;
  display: flex;
  width: 110px;
  font-size: 9px;
  font-weight: bold;
}
.TrackingHover1 {
  margin: 0;
  display: flex;
  font-size: 9px;
  font-weight: bold;
}
#room {
  background-color: unset !important;
  border: unset !important;
  color: #3d3b40;
}

#assignedName {
  background-color: unset !important;
  border: unset !important;
  color: #3d3b40;
}

#floor {
  background-color: unset !important;
  border: unset !important;
  color: #3d3b40;
}

#category {
  background-color: unset !important;
  border: unset !important;
  color: #3d3b40;
}

.legend-button {
  display: inline-block;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: fixed;
  top: 4.5em;
  right: 2.25em;
  font-size: 1.1em;
}

.legend-body {
  display: none; /* Hidden by default */
  position: fixed;
  top: 6.5em;
  right: 3.5em;
  background-color: white;
  /* height: 250px; */
  width: 200px;
  z-index: 2;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid black;
}

.legend-item {
  display: flex;
  gap: 1em;
  transition: opacity 0.2s ease-in-out; 
}
.asset-image {
  transition: opacity 0.2s ease-in-out;
  opacity: 1; /* Asset is fully visible */
}

.hidden-asset {
  opacity: 0; /* Asset is fully transparent */
  display: block !important; /* Override display:none */
  pointer-events: none; /* Disables interactions */
}

.legend-img {
  height: 20px;
  width: 20px;
}

/* .legend-button:hover {
  background-color: #0056b3;
} */

@media (max-width: 992px) {
  .content-container {
    overflow: hidden;
    border: #3d518c 0.25em solid;
    outline: #3d3b40 2px solid;
    position: relative;
    margin-top: unset;
  }
}

@media (max-width: 600px) {
  /* .tab-name {
    padding-bottom: 1em;
} */
.buttonskie{
  border: none;
  background-color: #f1f6ff;
  height: 68px;
  width: 75px;
    cursor: pointer;
    font-size: 1.75rem;
    font-weight: bold;
    color: #163172;
}
  
  .Floor-container-1 {
    width: 1200px;
    height: 586px;
    margin-left: 1em;
  }

  .Floor-container {
    width: 1200px;
    height: 586px;
    margin-left: 1em;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 5%;
    top: 2.5%;
    width: 90%;
    overflow: auto;
  }

  #room {
    font-size: 0.7em;
  }

  #floor {
    font-size: 0.7em;
  }

  #category {
    font-size: 0.8em;
  }

  #status {
    font-size: 0.7em !important;
  }

  #description {
    font-size: 0.7em;
  }

  #upload_img {
    font-size: 0.7em;
  }

  .buildings {
    visibility: visible !important;
    display: flex;
  }

  .content-container {
    overflow-x: visible;
    border: unset;
    outline: unset;
    position: relative;
  }
  .modal-content {
    top: 2px;
    height: 95%;
    width: 100% !important;
    right: 0;
  }

  .nav-container .nav-item {
    font-size: 3.5rem;
    padding: 0.5em 0.5em;
  }

  .nav-container {
    height: 60vh;
    margin: auto 1em;
  }

  #map-top-nav.hide .closeFloor {
    left: 6%;
  }

  .closeFloor {
    position: fixed;
    left: 6%;
    top: 4.5em;
    font-size: 1.1em !important;
  }

  .legend-button {
    top: 4.2em;
    right: 5%;
  }

  .legend-body {
    top: 6.1em;
    right: 2.1em;
  }
}
